@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
    --active-switch-color: #0058f0;
}

html,
body {
    height: 100%
}
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    background-color: whitesmoke;
}
.header{
    font-family: Lobster, sans-serif;
    font-size: x-large;
    color: white;
    padding: 10px;
    background-color: darkseagreen;
}
.wrapper{ /*шапка фио и вариант*/
    display: flex;
    flex-direction: column;

}
.content{
    flex: 1 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;

}
table{
    flex-direction: row;
    background-color: grey;
    border-width: 1px;
    width: 100%;
    overflow-x: auto;
    text-align: center;
}
th{
    background-color: black;
    color:white;
}
.svg-grapgh{
    width: 25%;
    height: 300px;
}
.validate_form{
    width: 20%;
}
.table{
    width: 60%;
}
.validate_form{
    display: flex;
    justify-content: center;
}
.clear_button{
    color: black;
    background-color: white;
    font-size: small;
    cursor: pointer;
}
.clear_button:hover{
    background-color: grey;
}
.validate_button{
    color: black;
    background-color: white;
    font-size: small;
    cursor: pointer;
}
.validate_button:hover{
    background-color: grey;
}

body {
    font-family: "Inter", sans-serif;
    color: black;
    background-color: #e6e6e6;
}
.form-radioButton {
    display: grid;
    flex-wrap: wrap;
    font-size: 13px;
    grid-template-columns: 1fr 1fr 1fr;
}
label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}
label input {
    position: absolute;
    left: -9999px;
}
label input:checked + span {
    background-color: #d6d6d6;
}
label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em black;
}
label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}
label span:hover {
    background-color: #d6d6d6;
}
label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em black;
}
.c-checkbox {
    display: none;
}
.c-checkbox:checked + .c-formContainer .c-form {
    width: 37.5em;
}
.c-checkbox:checked + .c-formContainer .c-form__toggle {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
}
.c-checkbox:checked + .c-formContainer .c-form__input, .c-checkbox:checked + .c-formContainer .c-form__buttonLabel {
    transition: 0.2s 0.1s;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before, .c-checkbox:checked + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
    content: 'Thank You! \1F60A';
}
.c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle {
    pointer-events: none;
    cursor: default;
}
.c-formContainer, .c-form, .c-form__toggle {
    width: 20em;
    height: 6.25em;
}
.c-formContainer {
    position: relative;
    font-weight: 700;
}
.c-form, .c-form__toggle {
    position: absolute;
    border-radius: 6.25em;
    background-color: #fff;
    transition: 0.2s;
}
.c-form {
    left: 50%;
    transform: translateX(-50%);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}
.c-form__toggle {
    color: #ff7b73;
    top: 0;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-form__toggle::before {
    font-size: 1.75em;
    content: attr(data-title);
}
.c-form__input, .c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
}
.c-form__input, .c-form__buttonLabel {
    font-size: 1.75em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}
.c-form__input {
    color: #fcc;
    height: 100%;
    width: 100%;
    padding: 0 0.714em;
}
.c-form__input::placeholder {
    color: currentColor;
}
.c-form__input:required:valid {
    color: #ff7b73;
}
.c-form__input:required:valid + .c-form__buttonLabel {
    color: #fff;
}
.c-form__input:required:valid + .c-form__buttonLabel::before {
    pointer-events: initial;
}
.c-form__buttonLabel {
    color: #ffaea9;
    height: 100%;
    width: auto;
}
.c-form__buttonLabel::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
}
.c-form__button {
    color: inherit;
    padding: 0;
    height: 100%;
    width: 5em;
    background-color: #ff7b73;
}
.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3.4em;
}

.switch .switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-input-text {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eef2f5;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-input:checked + .slider{
    background-color: var(--active-switch-color) ;
}

.switch-input:focus + .slider{
    box-shadow: 0 0 0.1em var(--active-switch-color);
}

.switch-input:checked + .slider:before {
    -webkit-transform: translateX(2.6em);
    -ms-transform: translateX(2.6em);
    transform: translateX(2.6em);
}

.slider.round, .switch-input-text {
    border-radius: 3.4em;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-input-text {
    margin: 10px;
    padding: 15%;
    text-align:center;
    border: 0;
    font-size: 1.6em;
    font-weight: 500;
    background-color: white;
    outline: 0.1em black solid;
}

.switch-input-text:focus-visible {
    transition: 0s;
    outline: 0.1em var(--active-switch-color) solid;
}

.switch-content{
    display: flex;
    align-items: center;
}
.switch-text {
    padding-left: 2em;
    font-size: 2em;
    font-weight: 600;
}
.error-input {
    outline: 0.1em red solid !important;
}
.error{
    color: red;
}