html,
body {
    height: 100%
}
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    background-color: whitesmoke;
}
.header{
    font-family: Lobster, sans-serif;
    font-size: x-large;
    color: white;
    padding: 10px;
    background-color: darkseagreen;
}
.wrapper{ /*шапка фио и вариант*/
    display: flex;
    flex-direction: column;

}
.content{
    flex: 1 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;

}
table{
    flex-direction: row;
    background-color: grey;
    border-width: 1px;
    width: 100%;
    overflow-x: auto;
    text-align: center;
}
th{
    background-color: black;
    color:white;
}
.svg-grapgh{
    width: 25%;
    height: 300px;
}
.validate_form{
    width: 20%;
}
.table{
    width: 60%;
}
.validate_form{
    display: flex;
    justify-content: center;
}
.clear_button{
    color: black;
    background-color: white;
    font-size: small;
    cursor: pointer;
}
.clear_button:hover{
    background-color: grey;
}
.validate_button{
    color: black;
    background-color: white;
    font-size: small;
    cursor: pointer;
}
.validate_button:hover{
    background-color: grey;
}